@charset "UTF-8";

h1 {
  text-transform: uppercase;
}

h2 {
  text-transform: uppercase;
}

h3 {
  text-transform: uppercase;
}

h4 {
  text-transform: uppercase;
}

h4.white {
  color: white;
}

h5 {
  text-transform: uppercase;
}



.social-bar {
  background-color: #1c2441;
  padding-top: 0;
  padding-bottom: 0;
}

a.white {
  color: white;
}

body {
  font-size: 0.8rem;
  background-color: #f5f8fd;
  
}
.signin-link {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}


.button--small {
  padding: 10px 20px;
  font-size: 0.875rem;
}

.button--green {
  outline: none;
  background-color: #64d18a;
  border-color: #64d18a;
  color: white;
  transition: all 200ms ease;
}

.button--green:hover {
  background-color: #8bdda8;
  color: white;
}

.nav-link {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
}

@media (max-width: 992px){
  .navbar {
    justify-content: space-around;
  }
}

@media (max-width: 1200px) {
  #navSearchBar {
    display: none !important;  
  }
}

footer {
  background-color: #fff;

}
.no-svg .logo-img {
  width: 72px;
  height: 72px;
}

.footer-crown {
  background-image: url('images/footer-crown.png');
  background-color: #F6F8FE;
  background-position: center;
  background-repeat: no-repeat;
  height: 120px;
  width: 100%;
}

.picture-placeholder {
  width:100%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:grey;
  color: white;
}

.what-how { background-color: LightGray; }

.experience { background-color: LightGreen; }

.recent { background-color: LightBlue; }

.row-1 { background-color: pink; }

.brunch-season { font-size: 0.7rem; }

.card-title { font-size: 1.5rem; font-weight: 600; }

.card-subtitle { color: blue; }

ul { padding: 0; margin: 0; }

ul.card-group { margin-top: 2rem; }

.view-all { margin: 2em 0; }

.what-how { min-height: 500px; font-size: 3rem; }

.find-circle { background-color: LightYellow; }

.row--padded { padding: 8em; }

.experience__info { padding: 4em 8em; }

.experience__header { margin-bottom: 4em; }

.call-to-action .btn { padding-right: 2em; display: block; }

.gallery { display: flex; flex-direction: row; }

.food-background {
  background: url("images/food-background.jpg");
  background-size: cover;
}

@media (min-width: 768px) {
  .row.vertical-divider {
    overflow: hidden;
  }
  .row.vertical-divider > div[class^="col-"] {
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 0px;
    padding-top: 10px;
  /*  border-left: 1px solid #aaaaaa;*/
    border-right: 1px solid #DDDDDD;
  }
  .row.vertical-divider div[class^="col-"]:first-child {
    border-left: none;
  }
  .row.vertical-divider div[class^="col-"]:last-child {
    border-right: none;
  }
}


.card-signin {
  border: 0;
  border-radius: 0;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.form-signin .btn {
  font-size: 80%;
/*  border-radius: 2rem;*/
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
  margin-top: 5px;
  margin-bottom: 15px;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  height: auto;
/*  border-radius: 2rem;*/
}

.form-group {
  border-radius: 0.25rem;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}


.form-control {
/*  border-radius: 2.5rem;*/
}

input.form-control {
/*	height: 2.5rem;*/
	padding-left: 1rem;
}
.nextBtn {
/*  border-radius: 2.5rem;*/
}

.btn-facebook {
  color: white;
  background-color: #3b5998;
/*  border-radius: 2.5rem;*/
}

.btn-google {
  color: white;
  background-color: #ea4335;
}


stepwizard-step p {
    margin-top: 10px;
}
.stepwizard-row {
    display: table-row;
}
.stepwizard {
    display: table;
    width: 50%;
    position: relative;
}
.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
    padding: 0;
    width: 33%;
}
.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
}
.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.heading.h1 { text-align: center; padding: 1em 0; }

.register-info { padding: 1em; }

.group { padding: 1em 0; }

.friends { padding: 1em 0; }

.add-friend { padding: 1em 0; }

.add-friend .form-control { margin: 1em 0; }

.menu { margin: 2em 0; }

.rules { border: 1px solid gray; margin: 2em 0; padding: 1em; }

.terms { border: 1px solid gray; padding: 1em; }

.order-summary { margin: 2em 0; border-top: 1px solid gray; }

.discount { margin: 2em 0; }

.invites > * { margin-top: 1em; display: block; }

.questions li { margin: 1em 0; }

.recalculate-order { display: flex; flex-direction: column; align-items: flex-end; }

.content { font-size: 20px; }
