@charset "UTF-8";
.social-bar {
  background-image: url('images/social-bar.png');
  padding-top: 0;
  padding-bottom: 0;
}

a.white {
  color: white;
}

body {
  font-size: 0.8rem;
  background-color: #f5f8fd;
  
}

footer {
  background-color: #fff;

}
.no-svg .logo-img {
  width: 72px;
  height: 72px;
}

.footer-crown {
  background-image: url('images/footer-crown.png');
  background-color: #F6F8FE;
  background-position: center;
  background-repeat: no-repeat;
  height: 120px;
  width: 100%;
}